.women{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}

.women h1{
    font-weight: bold;
    font-size: 4rem;
    margin-top: 5%;
    text-align: center;
}

.women hr{
    width: 400px;
    height: 6px;
    border-radius: 10px;
    background-color: red;
}

.women-collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
    margin-left: 5%;
}

@media (max-width:992px) {
    .women h1{
        font-size: 3rem;
    }

    .women-collections{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:576px) {
    .women h1{
        font-size: 2rem;
    }

    .women hr{
        width: 200px;
    }

    .women-collections{
        grid-template-columns: 1fr;
    }
}